<?xml version="1.0" encoding="utf-8" ?>
<suite name="Login suite">
    <test name="Login test cases">
        <classes>
            <class name="LoginTestCases.BothCorrect"/>
            <class name="LoginTestCases.BothInCorrect"/>
            <class name="LoginTestCases.CorrectPassword"/>

        </classes>
    </test>
</suite>